@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@500&display=swap');



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(#d7e8ff);
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */

}

/* 
@layer components {
  .chatRow {
    @apply rounded-lg px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-purple-200 cursor-pointer text-gray-500 transition-all duration-200 ease-in-out
  }
} */
.OverflowY::-webkit-scrollbar {
  display: none;
}

.devices {
  overflow-y: hidden;
  overflow-x: scroll;
}


@layer components {
  .headerButton {
    @apply hover:cursor-pointer transition ease-in-out hover:bg-[#ffffff] flex items-center justify-center rounded-lg w-32 h-9 hover:text-[#3729ff] font-medium text-center
  }

  .homeScreenButton {
    @apply bg-[#2f7bdf] text-white py-4 px-4 mb-5 rounded-lg flex flex-row font-crimson
  }
}

@layer utilities {
  .fontDuration {
    transition-duration: 300ms;
    font-size: 1.10rem;
    /* Change the value as needed */
    line-height: 1.25rem;
  }
}